{% if site.data.settings.lender.show_section == true %}
<div class="lender">

	<h5>{{site.data.settings.lender.header_text}}</h5>
	<hr>
	<div class="lender-info">
		{% if site.data.settings.lender.headshot_path != null %}
		<div class="lender-headshot">
			<img src="{{site.data.settings.lender.headshot_path}}"/>
		</div>
		<br>
		{% endif %}
		<p>
		<b>{{site.data.settings.lender.name}}</b>
		{{site.data.settings.lender.licensenumber}}<br>
		{{site.data.settings.lender.phone}}<br>
		{{site.data.settings.lender.email}}<br>
		<a href="{{ site.data.settings.lender.url }}" target="_blank">crosscountrymortgage.com/Gaylord-Hansen-Team/Steven-Farrington</a><br />
	</p>
	<br>
	</div>
	<div class="lender-logo">
		<img src="{{site.data.settings.lender.logo_path}}"/>
		<br><br>
	</div>
</div>
{% endif %}
